<!-- -->
<launch>
  <rosparam file="$(find carla_ackermann_control)/config/settings.yaml" command="load" />
  <arg name="rolename" />
  <arg name="delay" default="1.0" />

  <node pkg="carla_ackermann_control" type="carla_ackermann_control_node.py" name="$(arg rolename)_carla_ackermann_control" launch-prefix="bash -c 'sleep $(arg delay); $0 $@' " output="screen">
    <param name="rolename" value="$(arg rolename)" />
  </node>
</launch>
